{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cart_item in cart_items %}
                                        <tr class="cart_item">
                                            <td class="product-remove">
                                                <a title="Remove this item" class="remove"
                                                   href="{% url 'shop:remove_product' cart_item.id %}">×</a>
                                            </td>

                                            <td class="product-thumbnail">
                                                <a href="{% url 'shop:product_detail' cart_item.product.slug %}">
                                                    {% thumbnail cart_item.product.image.image "100x100" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="145" height="145"
                                                             alt="poster_1_up" class="shop_thumbnail">
                                                    {% endthumbnail %}</a>

                                            </td>

                                            <td class="product-name">
                                                <a href="{% url 'shop:product_detail' cart_item.product.slug %}">{{ cart_item.product.title }}</a>
                                            </td>

                                            <td class="product-price">
                                                <span class="amount">{{ cart_item.product.price }}</span>
                                            </td>

                                            <td class="product-quantity">
                                                <div class="quantity buttons_added">

                                                   {{ cart_item.qty }}
                                                </div>
                                            </td>

                                            <td class="product-subtotal">
                                                <span class="amount">{{ cart_item.total }}</span>
                                                {# here total is function in cart model #}
                                            </td>
                                        </tr>

                                    {% endfor %}


                                    <div class="cart_totals ">
                                        <h2>Cart Totals</h2>

                                        <table cellspacing="0">
                                            <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Cart Total</th>
                                                <td><span class="amount">Rs. {{ total_amount }}</span></td>
                                            </tr>

                                            </tbody>

                                        </table>
                                    </div>
                                    </tbody>
                                </table>

                            </form>

                            {#                            <div class="cart-collaterals">#}
                            {##}
                            {##}
                            {#                                <div class="cross-sells">#}
                            {#                                    <h2>You may be interested in...</h2>#}
                            {#                                    <ul class="products">#}
                            {#                                        {% for a_product in intrested_products %}#}
                            {#                                            <li class="product">#}
                            {#                                                <a href="{% url 'shop:product_detail' a_product.slug %}">#}
                            {#                                                    {% thumbnail a_product.image.image "195x243" crop="center" as im %}#}
                            {#                                                        <img src="{{ im.url }}" width="325"#}
                            {#                                                             height="325" class="attachment-shop_catalog wp-post-image">#}
                            {#                                                    {% endthumbnail %}#}
                            {##}
                            {#                                                    <h3>{{ a_product.title }}</h3>#}
                            {#                                                    <span class="price"><span#}
                            {#                                                            class="amount">Rs. {{ a_product.price }}</span></span>#}
                            {#                                                </a>#}
                            {##}
                            {#                                                <a class="add_to_cart_button" data-quantity="1" data-product_sku=""#}
                            {#                                                   data-product_id="22" rel="nofollow"#}
                            {#                                                   href="{% url 'shop:product_detail' a_product %}">Select#}
                            {#                                                    options</a>#}
                            {#                                            </li>#}
                            {#                                        {% endfor %}#}
                            {##}
                            {#                                    </ul>#}
                            {#                                </div>#}
                            {##}
                            {##}
                            {#                                <div class="cart_totals ">#}
                            {#                                    <h2>Cart Totals</h2>#}
                            {##}
                            {#                                    <table cellspacing="0">#}
                            {#                                        <tbody>#}
                            {#                                        <tr class="cart-subtotal">#}
                            {#                                            <th>Cart Subtotal</th>#}
                            {#                                            <td><span class="amount">Rs. {{ total_amount }}</span></td>#}
                            {#                                        </tr>#}
                            {##}
                            {#                                        <tr class="shipping">#}
                            {#                                            <th>Shipping and Handling</th>#}
                            {#                                            <td>Free Shipping</td>#}
                            {#                                        </tr>#}
                            {##}
                            {#                                        <tr class="order-total">#}
                            {#                                            <th>Order Total</th>#}
                            {#                                            <td><strong><span class="amount">{{ total_amount }}</span></strong></td>#}
                            {#                                        </tr>#}
                            {#                                        </tbody>#}
                            {#                                    </table>#}
                            {#                                </div>#}
                            {##}
                            {##}
                            {#                            </div>#}
                            {#                        </div>#}
                            {#                    </div>#}
                            {#                </div>#}
                            {#                <div class="col-md-4">#}
                            {#                    <div class="single-sidebar">#}
                            {#                        <h2 class="sidebar-title">Products</h2>#}
                            {#                        {% for a_product in latest_products %}#}
                            {#                            <div class="thubmnail-recent">#}
                            {##}
                            {#                                {% thumbnail a_product.image.image "190x190" crop="center" as im %}#}
                            {#                                    <img src="{{ im.url }}" class="recent-thumb">#}
                            {#                                {% endthumbnail %}#}
                            {#                                <h2>#}
                            {#                                    <a href="{% url 'shop:product_detail' a_product.slug %}">{{ a_product.title }}</a>#}
                            {#                                </h2>#}
                            {#                                <div class="product-sidebar-price">#}
                            {#                                    <ins>${{ a_product.price }}</ins>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                        {% endfor %}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}