<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Time of Day');
        data.addColumn('number', 'price');

        data.addRows([
            {% for dates, prices in data%}
                [new Date('{{ dates}}'), {{ prices }}],
            {% endfor %}

        ]);


        var options = {
            title: 'Price Rate',
            width: 1100,
            height: 400,
            hAxis: {
                format: 'MMM dd, yyyy',
                gridlines: {count: 15}
            },
            vAxis: {
                gridlines: {color: '#88FF'},
                minValue: 0
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);

        var button = document.getElementById('change');

        button.onclick = function () {

            // If the format option matches, change it to the new option,
            // if not, reset it to the original format.
            options.hAxis.format === 'M/d/yy' ?
                options.hAxis.format = 'MMM dd, yyyy' :
                options.hAxis.format = 'M/d/yy';

            chart.draw(data, options);
        };
    }
</script>
