{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}
    <div id="home">
        <!-- container -->
        <div class="container">
            <!-- home wrap -->
            <div class="home-wrap">
                <!-- home slick -->
                <div id="home-slick">
                    <!-- banner -->
                    {% for banner in banners %}
                        <div class="banner banner-1">
                            {% thumbnail banner.image "1200x675" crop="center" as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                            <div class="banner-caption text-center">
                                <h1>{{ banner.caption }}</h1>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- /banner -->
                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>


    {% for post in posts %}
        <!-- Product Single -->
        <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product product-single">
            <div class="product-thumb">
                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view
                </button>

                {% thumbnail post.image "270x360" crop="center" as im %}

                    <img src="{{ im.url }}" alt="">

                {% endthumbnail %}
            </div>
            <div class="product-body">
                <h3 class="product-price">${{ post.price }}</h3>
                <h3 class="product-price">${{ post.attribute}}</h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name">
                    <a href="{% url 'shop:product_detail' post.slug %}">{{ post.title }}</a></h2>
                <div class="product-btns">
                    <form action="{% url 'shop:cart' %}" class="cart" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id"
                               value="{{ product.id }}">
                        <div class="quantity">
                            <input type="number" size="4" class="main-btn icon-btn input-text qty text" title="qty"
                                   value="1" name="qty" min="1" step="1 " required>

                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                        </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Product Single -->
    {% endfor %}

</div>
    <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <center>
        <nav aria-label="Page navigation example" style="align-content: center">
            <ul class="pagination">

                {% for page in posts.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}


            </ul>
        </nav>
    </center>
{% endblock %}