{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="product product-details clearfix">
        <div class="col-md-6">
            <div id="product-main-view">
                <div class="product-view">
                    {% thumbnail product.image "1200x1200" crop="center" as im %}
                        <img src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="product-body">
                <h2 class="product-name display-2">{{ product.title }}</h2>
                <h3 class="product-price">Rs.{{ product.price }} /-</h3>
                <div>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>
                    <a href="#">{{ product.productreview_set.count }} Review(s) / Add Review</a>
                </div>
                <p><strong>Brand:</strong> {{ product.brand_name }}</p>
                <p><strong>Product Details</strong><br><br>{{ product.details | safe }}</p>
                <br>

                <table>
                    <tr>
                        <th>Our Price</th>
                        <th>Daraz Price</th>
                        <th>Sastodeal Price</th>
                        <th>E-sewa Pasal Price</th>
                    </tr>
                    <tr>
                        <td>{{ product.price }}</td>
                        <td>{{ product.scrapy_set.first.daraz_price }}</td>
                        <td>{{ product.scrapy_set.first.sastodeal_price }}</td>
                        <td>{{ product.scrapy_set.first.esewa_price }}</td>
                    </tr>
                </table>
                <br>

                <div class="product-btns">
                    <form action="{% url 'shop:cart' %}" class="cart" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <div class="quantity">
                            <input type="number" size="4" class="input-text qty text main-btn icon-btn " title="qty"
                                   value="1" name="qty" min="1" step="1 " required>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="product-tab">
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            {{ product.details }}
                        </div>
                        <div id="tab2" class="tab-pane fade in">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-reviews">

                                        {% for review in product.productreview_set.all %}
                                            <div class="single-review">
                                                <div class="review-heading">
                                                    <div><a href="#"><i
                                                            class="fa fa-user-o"></i> {{ review.user.username }}
                                                    </a></div>

                                                    <div class="review-rating pull-right">

                                                        {% for i in review.rating_range %}
                                                            <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                    </div>

                                                </div>
                                                <div class="review-body">
                                                    <p>{{ review.comment }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <div class="col-md-6">
                                        <h4 class="text-uppercase">Write Your Review</h4>
                                        <form class="review-form" method="POST"
                                              action="{% url 'shop:product_detail' product.slug %}">

                                            {% csrf_token %}

                                            {% if form.errors %}
                                                <p style="color: red">Please fill all fields</p>
                                            {% endif %}

                                            <div class="form-group">
                                                <textarea name="comment" class="input"
                                                          placeholder="Your review"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-rating">
                                                    <strong class="text-uppercase">Your Rating: </strong>
                                                    <div class="stars">
                                                        <input type="radio" id="star5" name="rating" value="5"/><label
                                                            for="star5"></label>
                                                        <input type="radio" id="star4" name="rating" value="4"/><label
                                                            for="star4"></label>
                                                        <input type="radio" id="star3" name="rating" value="3"/><label
                                                            for="star3"></label>
                                                        <input type="radio" id="star2" name="rating" value="2"/><label
                                                            for="star2"></label>
                                                        <input type="radio" id="star1" name="rating" value="1"/><label
                                                            for="star1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="primary-btn">Submit</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tab2" class="tab-pane fade in">
        <div class="container-fluid">
            <div class="row">
                <div id="chart_div">
                    {% include 'google_charts.html' %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}