{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div id="home">
        <!-- container -->
        <div class="container">
            <!-- home wrap -->
            <div class="home-wrap">
                <!-- home slick -->
                <div id="home-slick">
                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>


    {% for product in products %}
        <!-- Product Single -->
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="product product-single">

                <div class="product-body">


                    <h3 class="product-name"><a
                            href="">{{ product.title }}</a></h3>
                 <form method="POST" action="{% url 'shop:scrape_fun' product.id %}">
                    <form method="POST" action="{% url 'shop:scrape_fun' product.id %}">
                 {% csrf_token %}
                 <input type="hidden" name="product_id" value="{{ product.id }}">
                    {% if request.user.is_authenticated %}
                        <button class="main-btn  icon-next" type="submit"> Scrape </button>

                    {% endif %}
            </form>
                </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}