{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
     <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li style="color:red">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
     <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Search Result For : {{ search_text }}</h2>
                    </div>
                </div>

    {% if products.count > 0 %}
        {% for product in products %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        {% thumbnail product.image "1200x1200" crop="center" as im %}
                            <img src="{{ im.url }}" alt="" href="{% url 'shop:product_detail' product.slug %}">
                        {% endthumbnail %}

                    </div>
                 <li><a href="{% url 'shop:product_detail' product.slug %}">{{ product.title }}</a></li>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p>No result found. try again...</p>
    {% endif %}
{% endblock %}