{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form method="post" action="{% url 'shop:register' %}">
                {% csrf_token %}

                <div id="error-message" class="alert alert-danger" style="display: none">
                    <p class="text-danger">username is already taken</p>
                </div>
                {% bootstrap_form form %}
                <br>
                <input type="submit" value="SignUp" class="btn btn-success" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>

{% endblock %}
{% block jscode %}
    <script>
        $(document).ready(function () {
            $('#id_username').change(function(){
                console.log(this.value)

                $.get('{% url 'comparison:uniqueness' %}?username=' + this.value).done(function (response){

                    if(response.is_valid){
                        $('#error-message').hide()
                    }else{
                        $('#error-message').show()
                    }

                })
            })
        })
    </script>
{% endblock %}