/*blank_page*/
.logo{
	height: 70px;
	width: 30%;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
.head-txt{
	border-left: 2px solid #0A0A0A;
}

.head-content{
	margin-top: 5%;
	padding-bottom: 5px;
	font-size: 20px;
}

.head-search-item{
		margin-top: 2%; 
	}

@media screen and (max-width: 764px){
	.head-search{
		border-top: 2px solid #0A0A0A;
	}
	.head-search-item{
		margin-bottom: 2%; 
	}
}
/*blank_page*/

/*home_page*/
.top-products hr, .top-deals hr{
	  border-top: 1px solid #000;
}
.product{
    margin-top: 10px;
	margin-bottom: 20px;
	border: 2px dotted silver;
    border-radius: 5px;
    padding: 5px;
    height: 280px;
}
.product-image img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 190px;
}

.product-txt{
	text-align: center;
}

.product-name{
	display: block;
	font-size: 14px;
	word-wrap: break-word;
}

.product-price{
	display: block;
}
/*home page*/

/*product details page*/
.bread-crumb{
	margin-top: 5px;
	margin-bottom: 2%; 
	font-size: 15px;
}

.presentation-image{
	display: block;
	height: 90px;
	margin: 0px auto 2% auto;
    cursor: pointer;
}

.product-details-image{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 380px;
}

.product-details-info{
	margin-top: -2%;
}

.comparison{
	padding-top: 2%;
	padding-left: 2%;
	display: block;
}

.compared-website{
	text-align: center;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	width: 100%;
	border-bottom: 2px solid #E8E8E8;
	border-radius: 10px;
    background-color: #F5F5F5;

}

@media screen and (max-width: 990px) {
    .presentation-image{
    	height: 70px;
    }

    .product-details-image{
    	height: 270px;
    }

    .product-details-info{
		margin-top: -5%;
    }
}

@media screen and (max-width: 760px){
	.product-details-info{
		margin-top: 0px;
    }
    .compared-website{
    	margin-bottom: 4%;
    	border-bottom: 3px solid #E8E8E8;
    }
}
/*product details page*/

/*category_page*/
.sidebar{
 padding-left: 5%;
 padding-top: 5%;
 padding-bottom: 5%;
 word-wrap: break-word;
}
.sidebar ul li{
	padding-top: 5%;
}
.filter-head{
	font-size: 27px;
	border-bottom: 1px solid #A0A0A0;
}
/*category_page*/

/*categories page*/
.category-list a{
	font-size: 16px;
	border-top: 2px solid grey;
}
/*categories page*/