#top-header {
	padding-top: 20px;
	padding-bottom: 5px; 
	border-bottom: 1px solid #DADADA;
}

.left-content{
	border-right: 2px solid #322828;
}

.product-price {
  display: inline-block;
  font-size: 11px;
}

.product-name {
	padding: 0px;
	font-size: 13px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-category {
  font-size: 9px;
}

.product-img{
	height: 330px;
	width: 90%;
}

.reshape{
	margin-top: 10px;
	width: 100%;
	height: 50px;
	float: left;
}

.card {
    margin-top: 10px;
}

.card img{
	width: 100%;
	height: 200px;
}

hr {
    border-top: 1px solid #000;
}

@media screen and (max-width: 450px) {
	.card img{
		width: 100%;
		height: 170px;
	}

	.product-price {
		font-size: 10px;
	}

	.product-name {
		font-size: 11px;
	}

	.product-category {
  		font-size: 9px;
	}
	.product-img{
		height: 200px;
		width: 50%;
		margin-left: 25%;
	}

}