{% extends 'admin/change_list.html' %}
{% load i18n admin_static %}
{% block result_list %}
    <div class="object-tools ">
        <a href="{% url 'shop:products'  %}" class="btn btn-high btn-success" >Scrap Product</a>
    </div>
    {{ block.super }}
{% endblock %}